/* breakpoint for the iphone 5 */
@media only screen and (max-device-width: 480px) {
    .main {
        background-color: cornflowerblue;
    }
}

section {
    min-height: 25vh;
}

.section1 {
    background-color: blue;
}

.section1 {
    background-color: red;
}

.section1 {
    background-color: green;
}

.section1 {
    background-color: grey;
}