* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: black;

}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: black;
    height: 10vh;
    width: 100vw;
    padding: 0;
}

header .site-title.pm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: inherit;
    flex: 2;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;

}

header nav .pm {
    display: flex;
    background-color: lightpink;
    margin: 1px;
    height: 10vh;
    align-items: center;
    flex: 1;
}

header nav {
    flex: 2;
    justify-content: space-evenly;
}

main {

    height: 100vh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.post-title.pm {
    background-color: cornflowerblue;
    width: 75%;
    height: 100px;
    flex-direction: row;
}

.post-meta.pm {
    background-color: yellowgreen;
}

.main-content.pm {
    background-color: grey;
}

.main-content-img.pm {
    background-color: yellow;
}

.side-bar.pm {
    background-color: orange;
}

.ads.pm {
    background-color: green;
}

.other-stuff.pm {
    background-color: mediumorchid;
}

footer.pm {
    background-color: red;
}



aside {
    display: flex;
    flex-direction: column;
    float: 2;
    height: 100vh;
}



.section-post-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}