body {
    font-family: 'Silkscreen', serif;
    font-size: 18px;
    background-color: cornsilk;
  }

header {
    background: rgb(255, 245, 156);
 }

nav ul {
    list-style-type: none;
}

ul li a {
    padding: 20px;
    display: block;
    color: rgb(145, 159, 18);
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: auto;
}

li {
    margin: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

header li{
    display: inline-block;
}

#boxpage {
    background: url(/images/boxes.jpg) no-repeat fixed center;
    background-size: cover;
}

.box{
    display: inline-block;
    margin: 32px;
    width: 200px;
    height: 200px;
    background-color: dimgray;
    margin-bottom: 10px;
}

.box1{
   border: 5px dotted goldenrod; 
}

.box2{
    border-radius: 50%;
    border: 2px groove burlywood;
}

.box3{
    border-radius: 8px;
    border: solid snow;
}

.box4{
    background-image: url(/images/robot.jpeg) no-repeat fixed center cover;
}

.box5{
    background-image: url(/images/Synthwave.jpeg);
}
