body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}


.signUpForm {
    background-color: white;
    width: 40%;
    border-radius: 2%;
}

.outsideBottomText {
    float: left;
}

#formSection {
    padding-left: 35%;
}

input {
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
    margin: 0px 0 22px 0;
    display: inline-block;
}

h1,
h3 {
    text-align: center;
}

.whiteText {
    color: white;
}

.orangeText {
    color: orange;
}

.bottomText {
    float: left;
}

.signUpForm {
    display: flex;
}

#formTopText {
    text-align: center;
}

#formDiv {
    margin: auto;
    position: relative;
}

button {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
}