body{
    background-color:whitesmoke; margin:25px;
}

nav ul {
    list-style-type: none;
}

ul li a {
    padding: 20px;
    display: block;
    color: rgb(145, 159, 18);
    text-decoration: none;
}

header li{
    display: inline-block;
}

p{
    font-family:Source Code Pro, serif; font-size: 20px;
}

div{
    background-color:rgb(239, 239, 198); text-align:justify;
}

img{
    width:150px;
}

#goldrush{
    border-radius: 50%;
}
#lion{
    border-radius: 8px;
}

div.container 
{
    text-align: center;
    padding: 10px 20px;
    background-color:white;
}

div.polaroid 
{
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

#heroBanner{
    
}

